.file-upload-btn input[type="file"] {
    margin: -33px 0px 10px;
    top: 0;
    width: 84px;
    height: 32px;
    opacity: 0;
    cursor: pointer;
}

.text-abbreviation {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

